{erl_opts, [debug_info, {core_transform, ct_docsh}]}.
{deps,
 [
  {docsh, {git, "https://github.com/erszcz/docsh", {branch, "rebar3-plugin"}}}
 ]}.

{plugins,
 [
  {rebar3_docsh, {git, "https://github.com/erszcz/docsh", {branch, "rebar3-plugin"}}}
 ]}.

{provider_hooks,
 [
  {post, [{compile, {docsh, compile}}]}
 ]}.
